<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Luwak Stat!</title>
</head>
<body>
  <div>
   <h1>
    Welcome to Luwak Stat!
   </h1>
      <form action="/data/" method="get">
          <label for="d">Input Data:</label>
        <input  type="text" size=45 id="d"
               name="d" value="/Users/huangyi-mac/mystat/mystat/input_data/C13_data9.csv">
        <br><input type="submit" value="Submit" >
    </form>
      <a href="https://www.dhcc.com.cn" target="_blank">东华医疗</a>
  </div>

</body>
</html>